.boards-container{
    display: flex;
    justify-content: center;
    gap:15px;
    margin-bottom: 20px;
    height: 400px;
    overflow-y: scroll;
}
.boards-container .column {
    width: 220px;
    text-align: start;
}
.boards-container .column .title{
    padding: 10px 20px;
    margin-bottom: 20px;
    outline: beige solid 1px;
    text-transform: uppercase;
    box-shadow: 0px 2px 5px #26334D0D;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 800;
    color: #1D2121;
}
.boards-container .column .moveHereCard{
    background: #EEEEEE 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000021;
    border: 1px dashed #707070;
    border-radius: 6px;
    height: 126px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
}